*{
  margin: 0;
}
.app{
  display: flex;
  justify-content: space-evenly;
  
}
.app_header{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: rgb(241, 237, 237);
  
}
.app_left{
  flex: 0.9;
}

.Covid{
  display: flex;
  justify-content: space-around;
}

@media(max-width:900px){
  .app{
    flex-direction: column;
  }
}
